.full-width {
    max-width: 1400px;
}

.footer {
    background-color: #03A9F4;
    padding: 2rem 4rem;
    text-align: center;
    color: #fff;
}

.footer i {
    font-size: 100px;
}

.footer h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
}

.footer p, .footer a {
    font-weight: 300;
    font-size: 1em;
    color: #fff;
}

@media only screen and (min-width: 40.063em) {
    .footer .columns:nth-child(n+2) {
        border-left: 1px solid #b3b3b3;
        min-height: 280px;
    }
}

.footer-links {
    list-style-type: none;
}

.footer-resume{
    color: #075683 !important;
    font-weight: bold !important;
}

.footer-links li {
    margin-top: .5em;
}

.entry-box{
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 1px solid #adadad;
    margin: 5px;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    min-height: 250px;
}
.short-desc{
    color: #075683;
    padding-left: 5px;
    padding-right: 2px;
}

.thumb{
    padding-left: 0;
    padding-right: 0;
}
.column h5{
    padding-top: 3px;
    padding-left: 10px;
}